<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Hi and welcome! Choose your user:</h1>
    <form action="#" th:action="@{/update}" class="form-label" th:object="${attraction}" method="post">
    <div class="options users">
        <th:block th:each="user : ${users}">
            <input type="checkbox" th:field="*{users}" th:value="${user}"/>
            <label th:for="${user}" th:text="${user.name}"></label><br>
        </th:block>
    </div>

    <h2>Choose your role:</h2>
    <div class="options roles">
        <th:block th:each="role : ${role}">
            <input type="checkbox" th:field="*{role}" th:value="${role}"/>
            <label th:for="${role}" th:text="${role.role_name}"></label><br>
        </th:block>
    </div>
    <button type="submit">Log in</button>
</div>
</form>
</body>
</html>
